<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <style> 
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 3rem;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .imagen{
          height: 5rem;
          max-width: 100%;
        
      }
    </style>

<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <div>
          <img src="img/logo.JPG" alt="logo" style="height: 40px text-align-left">
        </div>
        <div>
          <span class="navbar-brand mb-0 h1 text-align-center">SIRCLOUD - Gestión de radios bases</span>
        </div>
        <form id="form_buscar"class="form-inline text-align-rigth" action="/busqueda" method="get">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="idBuscar">
          
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar ID</button>
        </form>
    </nav>



    <div class="container mb-6 ">
      <div class="row justify-content-center">
          <div class="col-lg-12">
            <div id="App" class="pt-5">
                <div class="formulario-contenedor">
                  <div class="card">
                    <div class="card-header">
                      <h3 >Agregar frecuencia</h3>
                    </div>
                    <div class="p-3">
                      <form action="/news" method="post" class="card-body">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Región</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="region">
                              <option selected>Choose...</option>
                              <option value="Norte">Norte</option>
                              <option value="Sur">Sur</option>
                              <option value="Este">Este</option>
                              <option value="Oeste">Oeste</option>
                            </select>
                          </div>
                          <div class="form-group col-md-6">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Proveedor RAN</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="proveedor_ran">
                              <option selected>Choose...</option>
                              <option value="Proveedor 1">Proveedor 1</option>
                              <option value="Proveedor 2">Proveedor 2</option>
                              <option value="Proveedor 3">Proveedor 3</option>
                            </select>
                          </div>
                          <div class="form-group col-md-6">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">ID Sitio</label>
                          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="id_sitio">
                            <option selected>Choose...</option>
                            <option value="333">333</option>
                            <option value="666">666</option>
                            <option value="999">999</option>
                          </select>
                          </div>
                          <div class="form-group col-md-6">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Nombre Sitio</label>
                          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="nombre_sitio">
                            <option selected>Choose...</option>
                            <option value="Ciudad de México">Ciudad de México</option>
                            <option value="Guadalajara">Guadalajara</option>
                            <option value="Monterrey">Monterrey</option>
                          </select>
                          </div>
                        </div>
                        
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Multicarrier</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="multicarrier">
                              <option selected>Choose...</option>
                              <option value="111AAA">111AAA</option>
                              <option value="222BBB">222BBB</option>
                              <option value="333CCC">333CCC</option>
                            </select>
                          </div>
                          <div class="form-group col-md-4">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Tipo TT</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="tipo_tt">
                              <option selected>Choose...</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                            </select>
                          </div>
                          <div class="form-group col-md-4">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Estatus TT</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="estatus_tt">
                              <option selected>Choose...</option>
                              <option value="Habilitado">Habilitado</option>
                              <option value="Deshabilitado">Deshabilitado</option>
                              <option value="En Proceso">En Proceso</option>
                            </select>
                          </div>
                          <div class="form-group col-md-3">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Baseline RAN</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="baseline_ran">
                              <option selected>Choose...</option>
                              <option value="111AAA">111AAA</option>
                              <option value="222BBB">222BBB</option>
                              <option value="333CCC">333CCC</option>
                            </select>
                          </div>
                          <div class="form-group col-md-3">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Estatus de construcción</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="estatus_construccion">
                              <option selected>Choose...</option>
                              <option value="Habilitado">Habilitado</option>
                              <option value="Deshabilitado">Deshabilitado</option>
                              <option value="En Proceso">En Proceso</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">RFI Estimado const</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="rfi_estimado_const">
                              <option selected>Choose...</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Estatus CA</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="estatus_ca">
                              <option selected>Choose...</option>
                              <option value="Habilitado">Habilitado</option>
                              <option value="Deshabilitado">Deshabilitado</option>
                              <option value="En Proceso">En Proceso</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">RFI Estimado CFE</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="rfi_estimado_cfe">
                              <option selected>Choose...</option>
                              <option value="3">3</option>
                              <option value="6">6</option>
                              <option value="9">9</option>
                            </select>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>





    <div class="container-fluid">
      <div class="box mt-5 ml-3">
        <h3>Tabla Radio Frecuencias</h3>
      </div>
        <div class="table-responsive col-md-12 mt-3 text-align-center" style="font-size:12px">
          <table id="tabla" class="table table-sm ">
            <thead class="thead-dark">
            <tr>
              <th>Id Radio</th> 
              <th>Region</th>   
              <th>Proveedor RAN</th>
              <th>Id Sitio</th>
              <th>Nombre sitio</th>
              <th>Multicarrier</th>
              <th>Tipo TT</th>
              <th>Estatus TT</th>
              <th>Baseline RAN</th>
              <th>Estatus de Construccion</th>
              <th>RFI Estimado Const</th>
              <th>Estatus CA</th>
              <th>RFI Estimado CFE</th>
            </tr> 
          </thead>

          <div id="tabla">

            <% for (var i = 0; i < radio.length; i ++) { %>
              <tr>
                <td><%= radio[i].id_radio %></td>
                <td><%= radio[i].region %></td>
                <td><%= radio[i].proveedor_ran %></td>
                <td><%= radio[i].id_sitio %></td>
                <td><%= radio[i].nombre_sitio %></td>
                <td><%= radio[i].multicarrier %></td>
                <td><%= radio[i].tipo_tt %></td>
                <td><%= radio[i].estatus_tt %></td>
                <td><%= radio[i].baseline_ran %></td>
                <td><%= radio[i].estatus_construccion %></td>
                <td><%= radio[i].rfi_estimado_const %></td>
                <td><%= radio[i].estatus_ca %></td>
                <td><%= radio[i].rfi_estimado_cfe %></td>
              </tr>
            <% } %>
          </div>
            
              
          </table>
        </div>
    </div>


    





      



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/gridjs/dist/gridjs.production.min.js"></script>
    <script src="logic.js"></script>



    
  </body>
</html>